// 背景图片
body {
	background: url(/images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100% 100%;
  opacity:1
}
//文章背板的颜色rgb
.main-inner > .sub-menu, .main-inner > .post-block, .main-inner > .tabs-comment, .main-inner > .comments, .main-inner > .pagination{
	background: #f5f5f56b;		//此处使用十六进制颜色代码，也可以使用rgba进行调色，
    					//实际效果为白色透明色底板rgba的第四参数即为透明度
}
body{//修改主体字体颜色
  color: #000;//纯黑
}
.posts-expand .post-title-link {//标题颜色
    color: #000;//首页文章标题颜色， （默认为灰辨识度不高）
}
.posts-expand .post-meta-container {//标题下的日期颜色
    color: #880000;//此处修改为红色，可自行调用rgb调色
}
 
//侧边框的透明度设置
.sidebar {
  opacity: 0.8;
}
 
//菜单栏的调色
.header-inner {		
  background: rgba(255,255,255,0.8);
}
//搜索框透明
.popup {		
  //opacity: 0.5;
}
 
.main-inner {
    background-color: rgba(255, 255, 255, 0);  //主体背景透明
    padding: 0px 40px 40px 40px;  //调整组件位置
}

.post {
  margin-top:60px;
  margin-bottom:60px;
  padding:25px;
  -webkit-box-shadow:0 0 5px rgba(202,203,203,0.5);
  -moz-box-shadow:0 0 5px rgba(202,203,204,0.5);
}

.post-block {
    background-color: rgba(255, 255, 255, 0.7) !important; //内容透明
}

